<div class="grid custom-section custom-section-column">
  <div class="grid__item medium-up--one-half">
    <h1>Our Story</h1>
    <p>{{ section.settings.story_text }}</p>
    <a href="about-sundays" class="btn">
      {{ section.settings.button_text }}
    </a>
  </div>
  <div class="grid__item medium-up--one-half">
    <img src="{{ section.settings.story_image | img_url: 'master' }}">
  </div>
</div>

{% schema %}

  {
    "name": "Sundays Story",
    "class": "sundays-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "story_image",
        "label": "Image:"
      },
      {
        "type": "richtext",
        "id": "story_text",
        "label": "Text:"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text:",
        "default": "READ MORE"
      }
    ]
  }

{% endschema %}