{% section 'sundays-hero' %}
<div class="page-width">
  {% section 'sundays-index-mission' %}
  {% section 'sundays-index-story' %}
  {% section 'sundays-teas' %}
  {% section 'sundays-setup' %}
  {% section 'sundays-subscribe' %}
</div>