<div class="page-width">
  {% if handle == "about-sundays" %}
    <h1 class="text-center" style="margin-bottom: 2em;">About Farm to Cup Sundays</h1>
    {% section 'sundays-mission' %}
    {% section 'sundays-story' %}
  {% else if handle == "about" %}
    <h1 class="text-center" style="margin-bottom: 2em;">About Farm to Cup</h1>
    {% section 'story' %}
  {% endif %}

  {% section 'gunnels-bios' %}
</div>